h1 {
	text-align: center;
}
.photo img {
	height: 500px;
	width: 376px;
	margin: 20px;
	float: left;
}
.photo {
	border: solid 1px;
	display: inline-block;
	margin: 50px 50px 50px 70px;
	text-align: center;
}
.text {
	display: inline-block;
	border: solid 1px;
	width: 450px;
	margin-left: 55px;
	margin-bottom: 55px;
}
.photo h4 {
	margin: 15px;
}
.main {
	background: #fff url(../img/background.jpg) center center no-repeat;
}